body {
    margin-top: 0;
    padding: 0;
    background: #fdfce8;
}

.pata-pata-wrapper {
    margin: 0;
    padding: 0;
}

.hide { display: none; }

#timer {
    margin: 0;
    padding: 0;
    font-size: 5em !important;
}
.clock {
    clear: both; 
    margin: 0 auto;
    padding-top: 5em;
    width: 100%;
    text-align: center;
    letter-spacing: 1em;
    font-size: 2em;
}

.clock-number {
    clear: both; 
    margin: 0 auto;
    padding-top: 5em;
    width: 100%;
}

.number-wrapper {
    position: absolute;
    z-index: 1001;
    clear: both;
    margin: 0 auto;
    padding: 30px;
    width: 20%;
    /*background: #e87784;*/
    text-align: center;
    line-height: 37em;
}

.number-wrapper.below { z-index: 1000; }

.number-wrapper.below .upper-half {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #205678; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwNTY3OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzBhMmM0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #205678 0%, #0a2c44 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#205678), color-stop(99%,#0a2c44)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #205678 0%,#0a2c44 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #205678 0%,#0a2c44 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #205678 0%,#0a2c44 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #205678 0%,#0a2c44 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#205678', endColorstr='#0a2c44',GradientType=0 ); /* IE6-8 */
}

.digit {
    position: absolute;
    bottom: 1em;
    padding: 25px;
    height: 0;
    font-size: 45em;
    color: #eeeeee;
}

.upper-half {
    width: 100%;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #205678; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwNTY3OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzBhMmM0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #205678 0%, #0a2c44 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#205678), color-stop(99%,#0a2c44)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #205678 0%,#0a2c44 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #205678 0%,#0a2c44 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #205678 0%,#0a2c44 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #205678 0%,#0a2c44 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#205678', endColorstr='#0a2c44',GradientType=0 ); /* IE6-8 */
    font-size: 40em;
    color: #eeeeee;
}

.fold {
    -webkit-animation-name: fold;
    -webkit-animation-duration: 1s;
    -webkit-transform-origin: 50% 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0,.35,.7,1);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

@-webkit-keyframes fold {
    0% { -webkit-transform: perspective( 1800px ) rotateX(0deg); }
    100% { -webkit-transform: perspective( 1800px ) rotateX(-180deg) translateY( 0px ); }
}

.lower-half {
    width: 100%;
    height: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #205678; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwNTY3OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzBhMmM0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #205678 0%, #0a2c44 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#205678), color-stop(99%,#0a2c44)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #205678 0%,#0a2c44 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #205678 0%,#0a2c44 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #205678 0%,#0a2c44 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #205678 0%,#0a2c44 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#205678', endColorstr='#0a2c44',GradientType=0 ); /* IE6-8 */
    font-size: 40em;
    color: #eeeeee;
}






